- name: Upgrade OpenSSL and SSH packages (fix SSL mismatch)
  become: true
  ansible.builtin.dnf:
    name:
      - openssl
      - openssl-libs
      - openssh
      - openssh-server
      - openssh-clients
    state: latest
    update_cache: true
- name: Install Python and build dependencies
  become: true
  ansible.builtin.dnf:
    name:
      - python3
      - python3-devel
      - gcc
    state: installed